@layer base {
	:root {
		/* 字体 */
		--sm-font-family-1: Arial;
		/* theme-color */
		--sm-color-fg-1: red;
		--sm-color-fg-2: yellow;
		/* layout-sider-宽度 */
		--sm-account-sider-width: 240px;
	}
	/* 滚动条 */
	.trove-scrollbar {
		overflow-y: auto;
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--sm-color-fg-1) var(--sm-color-fg-2);
	}
}
/* 居中盒子 */
section.main {
	@apply w-full max-w-[1440px] mx-auto relative px-5 md:px-8 lg:px-12 overflow-hidden;
}

/* 按钮 */
/* 主要按钮 */
button.primary-button {
	@apply flex justify-center items-center gap-1 rounded-lg font-primary font-medium bg-gradient-to-r from-primary to-secondary hover:from-[#00CD83] hover:to-[#008FCD];
}
