/* tailwind.css */

/* 引入tailwind-css */
@import "tailwindcss";
/* 引入或者自定义深色模式 */
@custom-variant dark (&:where(.dark, .dark *));

/* 添加或者重置项目的自定义设计标记 */
@theme {
	/* 使用 --属性-*： initial 完全禁用所有默认值并定义默认值 */
	/* 使用 --属性-*： 属性值 自定义或者覆盖默认值 */

	/* responsive-design  */
	--breakpoint-*: initial;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 976px;
	--breakpoint-xl: 1440px;

	/* family */
	--font-primary: Arial;

	/* color */
	--color-primary: #87cd00;
	--color-regular: #00b4cd;
	--color-secondary: ;
	--color-disabled: #ff99ff;

	/* 定义动画关键帧 */
	--animate-fade-in-scale: fade-in-scale 0.3s ease-out;
	@keyframes fade-in-scale {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}
