/* tailwind.css */

/* 引入tailwind-css */
@import "tailwindcss";
/* 引入或者自定义深色模式 */
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant warm (&:where([data-theme=warm], [data-theme=warm] *));

/* 添加或者重置项目的自定义设计标记 */
/* 使用 --属性-*： initial 完全禁用所有默认值并定义默认值 */
/* 使用 --属性-*： 属性值 自定义或者覆盖默认值 */
@theme {
	/* family */
	--font-primary: "Onest", sans-serif, Arial;
	--font-regular: "Noto Sans", sans-serif, Arial;

	/* color */
	--color-primary: #bb00ff;
	--color-regular: #2b7fff;
	--color-secondary: #00c37a;
	--color-disabled: #ff4d8b;
}

/* 多版本主题配置 */
@layer theme {
	/* 默认版本 */
	:root {
		--font-family-primary: var(--font-primary);
		--color-bgcolor-01: red;
		--color-text-01: yellow;
	}
	/* dark */
	:root[data-theme="dark"] {
		--color-bgcolor-01: blue;
		--color-text-01: red;
	}
	/* warm */
	:root[data-theme="warm"] {
		--color-bgcolor-01: #ffe8e9;
		--color-text-01: yellow;
	}
	/* 多语言切换字体 */
	:root[lang="zh"] {
		--font-family-primary: var(--font-regular);
	}
}
@theme inline {
	--color-bgcolor-100: var(--color-bgcolor-01);
	--color-text-100: var(--color-text-01);
	--font-family: var(--font-family-primary);
}
/* 主题设置 */
html,
body {
	font-family: var(--font-family);
	background-color: var(--color-bgcolor-100);
	color: var(--color-text-100);
}
